{% extends 'clothes/base.html' %} {% block content %} {% if product_list %} 
{% load static %}
<div style="width: 100%; display: flex; justify-content: center;">
    <img src="{% static '/images/overview.jpg' %}" class="img-fluid" alt="" />
</div>
<hr style="margin-right: 15%; margin-left: 15%;"> 
<ul>
    <div class="row row-cols-auto">
        {% for product in product_list %}
        <div class="col gy-4">
            <div class="card h-100" style="width: 15rem">
                <img
                    src="{{ product.image.url }}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5
                        class="card-title"
                        style="
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                        "
                    >
                        {{ product.product_name }}
                    </h5>
                    <p class="card-text">Giá: {{ product.price }}&#8363;</p>
                    <a
                        href="{% url 'clothes:product_detail' product.id %}"
                        class="stretched-link"
                    ></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% else %}
<p>No product are available.</p>
{% endif %} {% endblock %}
