{% extends 'clothes/base.html' %} {% block content %}
<div class="container mt-3">
    <center><h1>Register</h1></center>
    <br />
    <form action="{% url 'clothes:register' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="user_name" class="form-label">User name</label>
            <input
                type="text"
                class="form-control"
                name="user_name"
                id="user_name"
                required
            />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                required
            />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone number</label>
            <input
                type="text"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="(84+)777908037"
                required
            />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                required
            />
        </div>
        <div class="mb-3">
            <label for="full_name" class="form-label">Full name</label>
            <input
                type="text"
                class="form-control"
                name="full_name"
                id="full_name"
                required
            />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
